body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
  color: rgb(158, 158, 158);
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.container > div {
  flex: 1;
  position: relative;
}

textarea {
  font-size: 20px;
  border-radius: 30px;
  resize: none;
  padding: 100px 30px 30px 30px;
  width: 100%;
  box-sizing: border-box;
}

.field-name {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 1;
  color: #666;
  pointer-events: none;
  border: 3px solid;
  border-color: #666;
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
}

#input-field-name {
  border-color: rgb(158, 158, 158);
  color: rgb(158, 158, 158);
}

#output-field-name {
  color: rgba(129, 63, 113, 0.556);
  border-color: rgba(129, 63, 113, 0.556);
}

.field-name h3 {
  margin: 0;
}

#input {
  border: 3px solid rgb(158, 158, 158);
  background-color: rgba(242, 242, 242, 0.442);
  transition: 0.1s ease-in;
  color: rgb(158, 158, 158);
}

#input:focus {
  outline: none;
}

#output {
  border: 3px solid rgba(129, 63, 113, 0.556);
  background-color: rgba(254, 214, 255, 0.442);
  color: rgb(129, 63, 113);
}

#output:focus {
  outline: none;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s;
  border: 3px solid;
  border-color: rgb(158, 158, 158);
  color: rgb(158, 158, 158);
}

button:hover {
  background-color: rgb(158, 158, 158);
  color: white;
}